/* responsivo.css */

/* Ajustes gerais para telas pequenas */
@media (max-width: 600px) {
    body {
        font-size: 0.9em;
        /* Reduz o tamanho geral da fonte */
        padding: 40px;
        /* Ajusta o espaçamento */
    }

    main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .cartao-imagem img {
        width: 100%;
        max-height: 5px; /* Limita a altura do logo */
        object-fit: contain; /* Garante que a imagem não distorça */
        margin-bottom: 1px; /* Margem inferior para espaçamento */
    }
    .cartao-imagem img {
        max-height: 180px; /* Ajusta a altura da imagem */
    }
    .cartao {
        width: 120%; /* Garante que os cartões ocupem toda a largura */
        margin: 12px 0; /* Espaço entre cartões */
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cartao-visitante h3 {
        padding: 0px;
        max-width: 400px;
        /* Limita a largura máxima do cartão */
        width: 20%;
        /* Faz com que o cartão se ajuste ao tamanho da tela, mas não ultrapasse a largura máxima */
        box-sizing: border-box;
        list-style: none;
    
    }

    h3 {
        text-align: center; /* Centraliza o texto */
        font-size: 1em;
        margin-left: 50px;
    }

    h4 {
        font-size: 0.9em;/* Ajusta o tamanho da fonte */
        line-height: 1; /* Ajusta o espaçamento entre linhas */
    }

    /* Estiliza os botões para ocupar toda a largura e manter espaço uniforme */
    .botoes {
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .botoes123,
    .botao4 {
        order: 1;
        /* Coloca os botões após o conteúdo dos cartões */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .botoes123 button,
    .botao4 button {
        width: 90%;
        /* O botão ocupa quase toda a largura, mas mantém margens */
        padding: 10px;
        font-size: 1em;
        margin-bottom: 10px;
    }

    .botao4 button {
        text-align: center;
    }
}

/* Ajustes para telas extremamente pequenas (até 350px de largura) */
@media (max-width: 350px) {
    body {
        font-size: 0.8em;
    }

    .botoes123 button,
    .botao4 button {
        font-size: 0.6em;
        /* Reduz o tamanho da fonte */
    }

    .cartao-imagem img {
        max-height: 100px;
    }

    .informacao h4,
    .informacao p {
        font-size: 0.6em;
    }
}